body#fondo{
background-color: burlywood;
}
h1#Titulo{
    color: maroon;
    position: relative;
    left: 20cm;
}
section.cafe{
    position: relative;
    left: 20cm;
}
section.contacto{
    position: relative;
    left: 40cm;
}